SCRAM-SHA-1-PLUS + SCRAM-SHA-256-PLUS + SCRAM-SHA-512-PLUS + SCRAM-SHA3-512(-PLUS) supports

Dear @ehuelsmann,

Thanks for SCRAM-SHA-1, SCRAM-SHA-256, SCRAM-SHA-512 :)

Can you add supports of :
- SCRAM-SHA-1-PLUS
- SCRAM-SHA-256-PLUS
- SCRAM-SHA-512-PLUS
- SCRAM-SHA3-512
- SCRAM-SHA3-512-PLUS

You can add too:
- SCRAM-SHA-224
- SCRAM-SHA-224-PLUS
- SCRAM-SHA-384
- SCRAM-SHA-384-PLUS

Important note: SCRAM-SHA-224 and SCRAM-SHA-384 have already done in:
- https://github.com/dagolden/Authen-SCRAM

A "big" list has been done in last link of this ticket.

-------------------

SCRAM-SHA-1(-PLUS):
- https://tools.ietf.org/html/rfc5802
- https://tools.ietf.org/html/rfc6120

SCRAM-SHA-256(-PLUS):
- https://tools.ietf.org/html/rfc7677 since 2015-11-02
- https://tools.ietf.org/html/rfc8600 since 2019-06-21: https://mailarchive.ietf.org/arch/msg/ietf-announce/suJMmeMhuAOmGn_PJYgX5Vm8lNA

SCRAM-SHA-512(-PLUS):
- https://tools.ietf.org/html/draft-melnikov-scram-sha-512

SCRAM-SHA3-512(-PLUS):
- https://tools.ietf.org/html/draft-melnikov-scram-sha3-512

-PLUS variants:
- RFC5056: On the Use of Channel Bindings to Secure Channels: https://tools.ietf.org/html/rfc5056
- RFC5929: Channel Bindings for TLS: https://tools.ietf.org/html/rfc5929
- Channel-Binding Types: https://www.iana.org/assignments/channel-binding-types/channel-binding-types.xhtml
- RFC9266: Channel Bindings for TLS 1.3: https://tools.ietf.org/html/rfc9266

IMAP:
- RFC9051: Internet Message Access Protocol (IMAP) - Version 4rev2: https://tools.ietf.org/html/rfc9051

LDAP:
- RFC5803: Lightweight Directory Access Protocol (LDAP) Schema for Storing Salted: Challenge Response Authentication Mechanism (SCRAM) Secrets: https://tools.ietf.org/html/rfc5803

HTTP:
- RFC7804: Salted Challenge Response HTTP Authentication Mechanism: https://tools.ietf.org/html/rfc7804

2FA:
- Extensions to Salted Challenge Response (SCRAM) for 2 factor authentication: https://tools.ietf.org/html/draft-melnikov-scram-2fa

IANA:
- Simple Authentication and Security Layer (SASL) Mechanisms: https://www.iana.org/assignments/sasl-mechanisms/sasl-mechanisms.xhtml

Example, after SCRAM-SHA-1(-PLUS):
- GNU SASL (gsasl) supports SCRAM-SHA-256(-PLUS) since 1.9.1: http://git.savannah.gnu.org/gitweb/?p=gsasl.git;a=blob;f=NEWS;hb=HEAD
- Dovecot supports SCRAM-SHA-256(-PLUS) since 2.3.10: https://doc.dovecot.org/configuration_manual/authentication/authentication_mechanisms/
- Cyrus SASL/IMAP supports SCRAM-SHA-256(-PLUS) and more since 2.1.27: https://www.cyrusimap.org/sasl/sasl/authentication_mechanisms.html
- ...

Linked to:
- https://github.com/scram-xmpp/info/issues/1

@neustradamus, I beg to differ on SHA-224 and SHA-384. [RFC 5802 section 10](https://datatracker.ietf.org/doc/html/rfc5802#section-10) says specifically relating to the use of SCRAM in relation to SASL:

> Note to future SCRAM-mechanism designers: each new SCRAM-SASL mechanism *__MUST__* be explicitly registered with IANA and MUST comply with SCRAM-mechanism naming convention defined in [Section 4](https://datatracker.ietf.org/doc/html/rfc5802#section-4) of this document.

When you look up the [iana registry](https://www.iana.org/assignments/sasl-mechanisms/sasl-mechanisms.xhtml), there's a section which implements this requirement and it lists only SHA-1 and SHA-256. So there *is no* SCRAM-SHA-224 or SCRAM-SHA-384 *for use with SASL.

Support for SHA-512 and SHA3-512 is being requested, but not accepted (yet). Because Authen::SCRAM supports SHA-512 (but not SHA3-512), I've added support for it.

I am afraid that `Authen::SASL` currently does not have the infrastructure to support `SHA-*-PLUS`, because the PLUS variant needs to be enabled *only* when the caller adds relevant TLS data when constructing an SASL object. Currently, there are no provisions to deal with that kind of situation. Hence my PR to that repository: https://github.com/gbarr/perl-authen-sasl/pull/12.

By the way, that's *just one* of the hurdles. So, don't expect this to be done and implemented soon.

Why do I want people to move away from Authen::SCRAM? I'm not working to do that. I'm wrapping Authen::SCRAM so people can use it with Authen::SASL! So *more* people will come to Authen::SCRAM! They are also not equivalents: they're complements.

I've indeed seen that Graham has many old PRs on his repo. That's another reason I'm not convinced this is going to be a matter of weeks. I'll provide him with time to respond. What happens when he doesn't... we'll cross that bridge when we come to it.

@Neustradamus, Why actually is it that you're so fiercely chasing this issue? I personally want to use these authentication methods, but given the number of repositories you opened issues for this, I don't think you're using all of them.

Recording reference to advice regarding IO::Socket::SSL and access to the internal SSL socket: https://github.com/noxxi/p5-io-socket-ssl/issues/138 ; which indicates IO::Socket::SSL's internal should be accessed to retrieve the TLS 1.2 data for the -PLUS variant.

@ehuelsmann: For information, DJabberd supports -PLUS variant (Channel Binding):
- https://github.com/djabberd/DJabberd/pull/48
- https://github.com/search?q=repo%3Adjabberd%2FDJabberd+scram-sha-512-plus&type=code
- https://github.com/search?q=repo%3Adjabberd%2FDJabberd+scram-sha-256-plus&type=code
- https://github.com/search?q=repo%3Adjabberd%2FDJabberd+scram-sha-1-plus&type=code

Can you look?

cc: @rufferson.